@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 60px  0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;
}

